/* Global */
*, *::before, *::after {
	box-sizing: border-box;
}
/*Variables*/
/*kolor jasny*/
$color-light: #ffffff;
/*kolor ciemny*/
$color-dark: #2c2c54;
/*kolor tła*/
$color-back: #dfe6e9;

$font-text: 'Berkshire Swash', cursive;
$font-header: 'PT Serif', serif;

body {
    margin: 0;
    text-align: left;
    font-family: $font-header;
    color: $color-dark;
    font-size: 18px;
    line-height: 1.7;
}
.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
		background-color: $color-back;
}
.head-page {
		background-color: $color-light;
}
.page-title {
    color: $color-dark;
    font-size: 40px;
    font-family: $font-text;
    margin: 20px 0 0 0;
}
.page-subtitle {
    color: $color-light;
    font-size: 40px;
    font-family: $font-header;
    margin: 20px 0 0 0;
}
a {
		text-decoration: none;
		color: $color-dark;
		margin-right: 20px;
	}
