/* Global */
*, *::before, *::after {
	box-sizing: border-box;
}
/*Variables*/
/*color light*/
$color-light: #ffffff;
/*color dark*/
$color-dark: #2c2c54;
/*color background*/
$color-back: #dfe6e9;

$font-text: 'Berkshire Swash', cursive;
$font-header: 'PT Serif', serif;

body {
		height: 100vh;
    margin: 0;
    text-align: left;
    font-family: $font-header;
    color: $color-dark;
    font-size: 18px;
    line-height: 1.7;
}
.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
		background-color: $color-back;
}
.page-title {
    color: $color-dark;
    font-size: 30px;
    font-family: $font-text;
    margin: 20px 0 0 0;
}
.page-subtitle {
    color: $color-dark;
    font-size: 20px;
    font-family: $font-header;
    margin: 0 0;
}
nav	a {
			text-decoration: none;
			color: $color-dark;
			margin-right: 10px;
		}
